<%- include("partials/header.ejs") %>
<section class="py-5">
<div class="d-flex justify-content-center"><h1 class="border-bottom w-50 d-flex justify-content-center">About Us</h1></div>
<img class="profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyPTOgzLSnLSNiOHyCdaKYd9LM7kts07azTg-VzsoQcyOfkwN_Wll5-zzHlU6a9mZoyQQ&usqp=CAU" alt="dev-profile">
<p>
  Equal parts jolly and imposing, Gragas is a massive, rowdy brewmaster on his own quest for the perfect pint of ale. 
  Hailing from parts unknown, he now searches for rare ingredients among the unblemished wastes of the Freljord, 
  trying each recipe as he goes. Often intoxicated and extremely impulsive, he is legendary for the brawls he starts,
   which often end in all-night parties and widespread property damage. 
   Any appearance from Gragas must surely foreshadow drinking and destruction—in that order.</p>

  <div class="d-flex justify-content-center"><h1 class="border-bottom w-50 d-flex justify-content-center">FAQ</h1></div>
<p>
  The only thing more important to Gragas than fighting is drinking. His unquenchable thirst for stronger ale has led him in search of the most potent and unconventional ingredients to toss in his still. Impulsive and unpredictable, this rowdy carouser loves cracking kegs as much as cracking heads. Thanks to his strange brews and temperamental nature, drinking with Gragas is always a risky proposition.

  Gragas has an eternal love of good drink, but his massive constitution prevented him from reaching a divine state of intoxication. One night, when he had drained all the kegs and was left wanting, Gragas was struck by a thought rather than the usual barstool: why couldn't he brew himself something that would finally get him truly drunk? It was then that he vowed to create the ultimate ale.
  
  Gragas' quest eventually brought him to the Freljord, where the promise of acquiring the purest arctic water for his recipe led him into uncharted glacial wastes. While lost in an unyielding blizzard, Gragas stumbled upon a great howling abyss. There he found it: a flawless shard of ice unlike anything he had ever seen. Not only did this unmelting shard imbue his lager with incredible properties, but it also had a handy side effect - it kept the mixture chilled at the perfect serving temperature.
  
  Under the spell of his new concoction, Gragas headed for civilization, eager to share the fermented fruits of his labor. As fate would have it, the first gathering to catch Gragas' bleary eyes would shape the future of the Freljord. He blundered into a deteriorating negotiation between two tribes discussing an alliance with Ashe. Though Ashe welcomed a break in the tension, the other warriors bristled at the intrusion and hurled insults at the drunken oaf. True to his nature, Gragas replied with a diplomatic headbutt, setting off a brawl matched only in the legends of the Freljord.
  
  When the fallen from that great melee finally awoke, Ashe proposed a friendly drink as an alternative to fighting. With their tempers doused in suds, the two tribes, formerly on the brink of war, bonded over a common love of Gragas' brew. Although strife was averted and Gragas hailed a hero, he still had not achieved his dream of drunken blissfulness. So once more, he set off to wander the tundra in search of ingredients for Runeterra's perfect pint.</p>
</section> <%- include("partials/footer.ejs") %>
 